.Table-outside {
  background-color: saddlebrown;
  border-radius: 16px;
  height: 80vh;
  margin: 25px auto;
  width: 90%;
  position: relative;
  z-index: 1;
}

.Table-bumpers {
  background-color: green;
  border: 2px solid #006000;
  border-radius: 16px;
  margin: 20px;
  height: calc(100% - 40px);
  position: absolute;
  top: 0;
  z-index: 2;
  width: calc(100% - 40px);
  left: 0;
}

.Table-pocket {
  background-color: black;
  border-radius: 16px;
  clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 50%);
  height: 46px;
  position: absolute;
  width: 46px;
}

#center-top,
#center-bottom {
  left: 50%;
}

#right-top,
#right-bottom {
  left: 100%;
}

#left-bottom,
#center-bottom,
#right-bottom {
  top: 100%;
}
